
/* Variables */

/* Colors */
$mainTextColor: rgb(255, 255, 255);
$green:#263d3c;
$purple: #dee5fc; 
$navGradient: linear-gradient(90deg, #40646e, rgb(241, 241, 241));
$notBlack: #242424;

/*spacing styles*/
$mobileSpc:20% 9%;
$dsktpSpc:10% 14%;
$intro: 1.6%;
$introTxt: 2px;

/*font sizes */
$nav: 1.5em;

/*Animations */
$animate: all 0.2s ease-in-out;

